4.2.3/ihris-common/modules/FHIR/xsd/FHIR_STU_THREE/protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Mon, Jul 18, 2016 10:57+1000 for FHIR v1.5.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="Protocol" type="Protocol">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Protocol">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="unbounded" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">A unique identifier for the protocol instance.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="title" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Name of protocol.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="ProtocolStatus">
            <xs:annotation>
              <xs:documentation xml:lang="en">The status of the protocol.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="ProtocolType">
            <xs:annotation>
              <xs:documentation xml:lang="en">A code that classifies the general type of context to which these behavior definitions apply.  This is used for searching, sorting and display purposes.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="subject" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">What does protocol deal with?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="group" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">To whom does Protocol apply?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="purpose" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">When is protocol to be used?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="author" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Who wrote protocol?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="step" type="Protocol.Step" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">What's done as part of protocol.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Step">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Label for step.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Human description of activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="duration" minOccurs="0" maxOccurs="1" type="Duration">
            <xs:annotation>
              <xs:documentation xml:lang="en">How long does step last?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="precondition" type="Protocol.Precondition" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Rules prior to execution.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="exit" type="Protocol.Precondition" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates the conditions that must be met for activities that are part of this time point to terminate.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="firstActivity" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">First activity within timepoint.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="activity" type="Protocol.Activity" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Activities that occur within timepoint.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="next" type="Protocol.Next" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">What happens next?</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Precondition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Human-readable description of the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="condition" type="Protocol.Condition" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines the name/value pair that must hold for the condition to be met.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="intersection" type="Protocol.Precondition" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Lists a set of conditions that must all be met.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="union" type="Protocol.Precondition" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Lists alternative conditions, at least one of must be met.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="exclude" type="Protocol.Precondition" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Lists conditions of which none must be met.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Condition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">The type of observation, test or other assertion being evaluated by the condition.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element name="valueCodeableConcept" type="CodeableConcept" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Indicates what value the observation/test/assertion must have in order for the condition to be considered to be satisfied. (choose any one of value*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element name="valueBoolean" type="boolean" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Indicates what value the observation/test/assertion must have in order for the condition to be considered to be satisfied. (choose any one of value*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element name="valueQuantity" type="Quantity" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Indicates what value the observation/test/assertion must have in order for the condition to be considered to be satisfied. (choose any one of value*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element name="valueRange" type="Range" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Indicates what value the observation/test/assertion must have in order for the condition to be considered to be satisfied. (choose any one of value*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Activity">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="alternative" minOccurs="0" maxOccurs="unbounded" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">What can be done instead?</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="component" type="Protocol.Component" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Activities that are part of this activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="following" minOccurs="0" maxOccurs="unbounded" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">What happens next.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="wait" minOccurs="0" maxOccurs="1" type="Duration">
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates the length of time to wait between the conditions being satisfied for the activity to start and the actual start of the activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="detail" type="Protocol.Detail" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information about the nature of the activity, including type, timing and other qualifiers.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Component">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="sequence" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Order of occurrence.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="activity" minOccurs="1" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">Component activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Detail">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="category" minOccurs="0" maxOccurs="1" type="ProtocolActivityDefinitionCategory">
            <xs:annotation>
              <xs:documentation xml:lang="en">High-level categorization of the type of activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">Detailed description of the type of activity; e.g. What lab test, what procedure, what kind of encounter.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element name="timingCodeableConcept" type="CodeableConcept" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">The period, timing or frequency upon which the described activity is to occur. (choose any one of timing*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element name="timingTiming" type="Timing" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">The period, timing or frequency upon which the described activity is to occur. (choose any one of timing*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element name="location" minOccurs="0" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies the facility where the activity will occur; e.g. home, hospital, specific clinic, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="performer" minOccurs="0" maxOccurs="unbounded" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies who's expected to be involved in the activity.</xs:documentation>
           </xs:annotation>
          </xs:element>
                      <xs:element name="productReference" type="Reference" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Identifies the food, drug or other product being consumed or supplied in the activity. (choose any one of product*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
            <xs:element name="productCodeableConcept" type="CodeableConcept" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="en">Identifies the food, drug or other product being consumed or supplied in the activity. (choose any one of product*, but only one)</xs:documentation>
              </xs:annotation>
             </xs:element>
          <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="Quantity">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies the quantity expected to be consumed at once (per dose, per meal, etc.).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">This provides a textual description of constraints on the activity occurrence, including relation to other activities.  It may also include objectives, pre-conditions and end-conditions.  Finally, it may convey specifics about the activity such as body site, method, route, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocol.Next">
    <xs:annotation>
      <xs:documentation xml:lang="en">A definition of behaviors to be taken in particular circumstances, often including conditions, options and other decision points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Description of what happens next.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reference" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">Id of following step.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="condition" type="Protocol.Precondition" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="en">Condition in which next step is executed.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ProtocolActivityDefinitionCategory-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="communication">
        <xs:annotation>
          <xs:documentation xml:lang="en">Communication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="diet">
        <xs:annotation>
          <xs:documentation xml:lang="en">Diet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="drug">
        <xs:annotation>
          <xs:documentation xml:lang="en">Drug</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="encounter">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encounter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="observation">
        <xs:annotation>
          <xs:documentation xml:lang="en">Observation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="procedure">
        <xs:annotation>
          <xs:documentation xml:lang="en">Procedure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="referral">
        <xs:annotation>
          <xs:documentation xml:lang="en">Referral</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="supply">
        <xs:annotation>
          <xs:documentation xml:lang="en">Supply</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProtocolActivityDefinitionCategory">
    <xs:annotation>
      <xs:documentation xml:lang="en">High-level categorization of the type of activity in a protocol.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ProtocolActivityDefinitionCategory-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ProtocolType-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="condition">
        <xs:annotation>
          <xs:documentation xml:lang="en">Condition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="device">
        <xs:annotation>
          <xs:documentation xml:lang="en">Device</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="drug">
        <xs:annotation>
          <xs:documentation xml:lang="en">Drug</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="study">
        <xs:annotation>
          <xs:documentation xml:lang="en">Study</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProtocolType">
    <xs:annotation>
      <xs:documentation xml:lang="en">High-level categorization of the protocol</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ProtocolType-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ProtocolStatus-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="draft">
        <xs:annotation>
          <xs:documentation xml:lang="en">Draft</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="testing">
        <xs:annotation>
          <xs:documentation xml:lang="en">Testing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="review">
        <xs:annotation>
          <xs:documentation xml:lang="en">Review</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation xml:lang="en">Active</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="withdrawn">
        <xs:annotation>
          <xs:documentation xml:lang="en">Withdrawn</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="superseded">
        <xs:annotation>
          <xs:documentation xml:lang="en">Superseded</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProtocolStatus">
    <xs:annotation>
      <xs:documentation xml:lang="en">The lifecycle status of a Protocol</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ProtocolStatus-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
